*.chi
*.chs.h
*.hi
*.o
*.sublime*
*~
.DS_Store
.cabal-sandbox
.ghc.environment.*
.stack-work
.virthualenv
/hunt-demos/geoFrontend/data/map.xml
TAGS
cabal-dev
cabal.sandbox.config
data/
dist
dist-newstyle
dist-stack
hunt.log
prof.sh.config
tmp-index
