//
// HEADER
//

.header {
  background: #81C784;
  border-bottom: 1px solid #ddd;
}


.navigation {
  max-width: $inuit-global-spacing-unit * 16;
  margin: 0 auto;
}

.navigation__list {
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: center;
}

.navigation__list__item {
  flex: 1;
}

.navigation__list__item a {
  display: block;
  padding: $inuit-global-spacing-unit / 2;
  text-align: center;
  text-decoration: none;
  color: white;
}

.navigation__list__item--active a {
  background: #A5D6A7;
  color: white;
  font-weight: normal;
}

h1, h2, h3 {
  color: #81C784;
}
