// CODE

pre {
  background: #FAFAFA;
  color: #444;
  padding: ($inuit-global-spacing-unit / 2);
  box-shadow: inset 0px 0px 5px #eee;
  overflow-x: auto;
}

pre, code {
  font-size: 0.8rem;
}


// QUICKSTART

.quickstart {
  max-width: 820px;
  padding: $inuit-global-spacing-unit;
  margin: auto;

  h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
  }
}

.executable-json {
  position: relative;
  
  button {
    position: absolute;
    right: ($inuit-global-spacing-unit / 4);
    top: ($inuit-global-spacing-unit / 4);
    font-size: 0.8em;
    padding: ($inuit-global-spacing-unit / 4) ($inuit-global-spacing-unit / 2);

    &:hover {
      cursor: pointer;
    }
  }
}
