@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700');


// SETTINGS

$inuit-global-font-size: 20px;
$inuit-global-line-height: 36px;

@import "node_modules/inuitcss/settings/settings.core";


// TOOLS

@import "node_modules/inuitcss/tools/tools.font-size";
@import "node_modules/inuitcss/tools/tools.rem";


// GENERIC

@import "node_modules/inuitcss/generic/generic.box-sizing";
@import "node_modules/inuitcss/generic/generic.normalize";
@import "node_modules/inuitcss/generic/generic.reset";
@import "node_modules/inuitcss/generic/generic.shared";


// ELEMENTS

@import "node_modules/inuitcss/elements/elements.page";
@import "node_modules/inuitcss/elements/elements.headings";
@import "node_modules/inuitcss/elements/elements.tables";

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

// MENU



// PAGES

@import "src/Main";
@import "src/Quickstart/View";
@import "src/Search/View";
